name: Deploy Azure Function

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Login to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C4ECFFA324094EF185922D89DE23161D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2E922A483A3F4300AD9F5F51A34450F4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_CB68A1488D0F490399F6589D20646640 }}

      - name: Deploy to Azure Function
        uses: Azure/functions-action@v1
        with:
          app-name: varsha-insurance-func
          package: .
