name: Deploy Azure Function (Stable)

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_52EDD9C2D24A4447A18D9A00F926165D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E1022F05AF50491A93D46BFEBFCCFDF4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D709E18E9A9747F3A9D0D4DAC1304079 }}

      - name: Install Azure Functions Core Tools
        run: npm install -g azure-functions-core-tools@4 --unsafe-perm true

      - name: Publish Azure Function App
        run: |
          func azure functionapp publish insuranceQuoteFunc --javascript
